body {
  background-color: #f5edf7;
  color: #40514e;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  text-align: center;
}

h1 {
  color: #643579;
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
  margin: 50px auto 0 auto;
}

h2 {
  color: #643579;
  font-size: 2rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #643579;
}

hr {
  border: dotted #bb99cd 6px;
  border-bottom: none;
  margin: 100px auto;
  width: 4%;
}

p {
  line-height: 2;
}

a {
  color: #643579;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #f7fbfc;
}

/* TOP SECTION */

.introSubHead {
  font-size: 1.5rem;
}

.topContainer {
  background-color: #bb99cd;
  position: relative;
  padding-top: 50px;
}

.topCloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottomCloud {
  position: absolute;
  left: 300px;
  top: 260px;
  z-index: 1;
}

.city {
  margin-bottom: -5px;
  max-width: 100%;
  opacity: 75%;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}

/* MIDDLE SECTION */

.middleContainer {
  padding: 60px 0 20px;
}

.intro {
  width: 40%;
  margin: auto;
}

.skillRow {
  width: 60%;
  margin: 100px auto;
  text-align: left;
}

.skillRow p {
  font-size: 0.9rem;
}

.skillSubheaderR {
  text-align: left;
}

.skillR {
  text-align: left;
}

.skillImgL {
  float: left;
  margin-right: 30px;
}

.skillImgR {
  float: right;
  margin-left: 30px;
}

.contactMessage {
  margin: 30px auto;
}

.btn {
  background-color: #bb99cd;
  border: solid #A486B3 1px;
  border-radius: 12px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  margin-top: 30px;
  padding: 15px 25px 15px 25px;
  text-align: center;
  text-decoration: none;
}

.btn:hover {
  border: solid #8C739A 1px;
  background: #643579;
  text-decoration: none;
}


/* PROJECT SECTION */

.projectSection {
  background-color: #bb99cd;
  padding: 60px 0 20px;
}

.projectTopContainer {
  padding: 5px 0 5px 0;
  width: 100%;
}

.projectMiddleContainer {
  background-color: #bb99cd;
  display: flex;
  flex-wrap: wrap;
  padding: 0 50px 60px;
  justify-content: center;
}

.projectBottomContainer {
  padding: 0 0 60px 0;
  width: 100%;
}

.projectPgTitle {
  color: #fff;
  /* margin-top: 75px; */
}

.projectTitle {
  font-size: 1.6rem;
  margin-top: 50px;
}

.projectTextFront {
  font-size: 1.1rem;
  line-height: 2;
  margin: 25px 50px 0;
  text-align: center;
}

.projectTextBack {
  font-size: 1rem;
  line-height: 2;
  margin: 35px;
  text-align: center;
}

.flipCard {
  background-color: transparent;
  height: 300px;
  width: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  margin: 20px;
}

.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flipCard:hover .flipCardInner {
  transform: rotateY(180deg);
}

.flipCardFront, .flipCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flipCardFront {
  background-color: #fff;
  color: #000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);
}

.flipCardBack {
  background-color: #bb99cd;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);
  color: #fff;
  transform: rotateY(180deg);
}

.projectBtn {
  background-color: #f5edf7;
  border: solid #A486B3 1px;
  border-radius: 12px;
  color: #643579;
  cursor: pointer;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  margin-top: 20px;
  padding: 15px 25px 15px 25px;
  text-align: center;
  text-decoration: none;
  position: absolute;
  bottom: 10%;
  left: 12%;
}

.projectBtn:hover {
  border: solid #8C739A 1px;
  background: #643579;
  text-decoration: none;
}

.projectPgBtn {
  background-color: #f5edf7;
  border: solid #A486B3 1px;
  border-radius: 12px;
  color: #643579;
  cursor: pointer;
  font-size: 1.2rem;
  margin-top: 40px;
  padding: 15px 25px 15px 25px;
  text-align: center;
  text-decoration: none;
}

.projectPgBtn:hover {
  border: solid #8C739A 1px;
  background: #643579;
  text-decoration: none;
}

/* END OF PROJECT SECTION */


/* CONTACT SECTION */

.contactSection {
  padding: 60px 0 80px;
}

/* END OF CONTACT SECTION */


/* BOTTOM SECTION */

.bottomContainer {
  background-color: #bb99cd;
  padding: 50px 0 20px;
}

.copyright {
  color: #643579;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.75rem;
  padding: 20px 0;
}

.textLink {
  color: #643579;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  margin:auto;
}

.textLink:hover {
  color: #bb99cd;
}
